[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
python-lsp-server = {extras = ["all"], version = "*"}
python-lsp-black = "*"
pyls-isort = "*"

[tool.black]
line-length = 100

[pycodestyle]
max-line-length = 100
