[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
neovim = "*"
python-lsp-server = {extras = ["all"], version = "*"}
python-lsp-black = "*"
pyls-isort = "*"
